card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;

    bottom: 0;
     width: 100px;
}